/* Specter : A Solo Wiki Platform */

/* window + global */
html,
body {
    position:relative;
    margin:0px;
    width:100%;
    height:100% !important;
    height:auto;
    min-height:100%;
    padding:0px;
    color:#333;
    font-size:.95em;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, 
                 Arial, "Lucida Grande", sans-serif;
    -webkit-overflow-scrolling:touch;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box;
}

/* common */
a {
    color:inherit;
    text-decoration:none;
}
a:hover {
    cursor:pointer;
    color:inherit;
    text-decoration:underline;
}
form {
    position:relative;
    margin:0px;
    width:100%;
    height:auto;
    padding:0px;
}
form label {
    position:relative;
    margin:0px 0px 0px 5px;
    width:100%;
    height:auto;
    padding:0px;
    color:#666;
    font-size:1.2em;
}
form label span {
    position:relative;
    margin:0px;
    width:auto;
    height:auto;
    padding:0px;
    color:#CCC;
    font-size:.75em;
}
form label span.error {
    color:#D9BABD;
}
form input[type="text"],
form input[type="password"] {
    position:relative;
    margin:5px 0px 15px 0px;
    width:100%;
    height:auto;
    padding:5px 8px;
    border:2px solid #CCC;
    font-size:1em;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}
form input[type="text"].error,
form input[type="password"].error {
    border:2px solid #D9BABD;
}
form input[type="text"]:focus,
form input[type="password"]:focus {
    outline:none;
    border:2px solid #B6C4D9;
}
form input[type="submit"],
form button {
    position:relative;
    margin:0px 0px 15px 0px;
    width:100%;
    height:auto;
    padding:5px 8px;
    border:none;
    color:#999;
    font-size:1.2em;
    background-color:#E4E4E4;
    border:2px solid #CCC;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus,
form button:hover,
form button:focus {
    cursor:pointer;
    color:#6B7380;
    outline:none;
    background-color:#D3E3FB;
    border:2px solid #B6C4D9;
}

/* lists */
ul.horizontal {
    position:relative;
    margin:0px;
    width:auto;
    height:auto;
    padding:0px;
    list-style-type:none;
}
ul.horizontal li {
    position:relative;
    display:inline-block;
    margin:0px 0px 0px 15px;
    width:auto;
    height:auto;
    padding:0px;
}
ul.horizontal li.right {
    float:right;
    margin:0px 15px 0px 0px;
}

/* auth */
.body.auth {
    position:absolute;
    top:0px; left:0px;
    width:100%;
    height:100%;
    padding:0px;
    overflow:auto;
    background-color:#333;
}
.body.auth .content {
    position:relative;
    margin:0px auto;
    width:550px;
    height:auto;
    padding:25px;
}
.body.auth .content .modal {
    position:relative;
    margin:100px 0px 0px 0px;
    width:100%;
    height:auto;
    padding:25px 25px;
    background-color:#FFF;
    -webkit-border-radius:10px;
       -moz-border-radius:10px;
            border-radius:10px;
    -webkit-box-shadow: 5px 8px 15px 10px rgba(0,0,0,0.5);
       -moz-box-shadow: 5px 8px 15px 10px rgba(0,0,0,0.5);
            box-shadow: 5px 8px 15px 10px rgba(0,0,0,0.5);
}
.body.auth .content .modal .header {
    position:relative;
    margin:-15px 10px 0px 0px;
    width:100%;
    height:auto;
    padding:0px;
    color:#999;
    font-size:4em;
    font-weight:bold;
    text-align:right;
}
.body.auth .content .modal .boder {
    position:relative;
    margin:0px;
    width:100%;
    height:auto;
    padding:0px;
}
.body.auth .content .modal .footer {
    position:relative;
    margin:10px 0px -15px 0px;
    width:100%;
    height:auto;
    padding:0px;
    color:#999;
    font-size:.9em;
}

/* wiki */
.body.wiki {
    position:absolute;
    top:0px; left:0px;
    width:100%;
    height:100%;
    padding:0px;
    overflow:auto;
}
.body.wiki .controller {
    position:fixed;
    z-index:1;
    top:0px; left:0px;
    margin:0px;
    width:100%;
    height:35px;
    padding:0px 15px;
    text-align:center;
    background-color:#222;
    list-style:none;
    -webkit-box-shadow:0px 0px 20px rgba(0,0,0,1);
       -moz-box-shadow:0px 0px 20px rgba(0,0,0,1);
            box-shadow:0px 0px 20px rgba(0,0,0,1);
}
.body.wiki .controller .icon {
    position:relative;
    display:inline-block;
    margin:0px;
    width:auto;
    height:auto;
    padding:0px 15px;
    color:#CCC;
    font-size:18px;
    line-height:35px;
    text-decoration:none;
    list-style:none;
}
.body.wiki .controller .icon:hover {
    color:#FFF;
    cursor:pointer;
}
.body.wiki .controller .icon.entypo-menu {
    font-size:20px;
}
.body.wiki .controller .icon.left {
    float:left;
}
.body.wiki .controller .icon.right {
    float:right;
}
.body.wiki .controller .icon.selected {
    text-decoration:underline;
}
.body.wiki .controller .icon ul {
    position:absolute;
    top:35px; left:0px;
    display:none;
    margin:0px;
    width:auto;
    height:auto;
    padding:0px;
    background-color:#222;
    list-style:none;
    -webkit-box-shadow:0px 0px 20px rgba(0,0,0,1);
       -moz-box-shadow:0px 0px 20px rgba(0,0,0,1);
            box-shadow:0px 0px 20px rgba(0,0,0,1);
}
.body.wiki .controller .icon ul.address {
    left:-250px;
    min-width:550px;
    padding:5px 10px 10px 10px;
}
.body.wiki .controller .icon:hover ul {
    display:block;
}
.body.wiki .controller .icon ul li {
    position:relative;
    margin:0px;
    width:auto;
    height:auto;
    padding:0px;
}
.body.wiki .controller .icon ul li.divider {
    width:100%;
    height:2px;
    background-color:#444;
}
.body.wiki .controller .icon ul li a {
    position:relative;
    display:block;
    margin:0px;
    width:auto;
    min-width:200px;
    height:auto;
    padding:0px 15px;
    color:#CCC;
    text-align:left;
    font-size:14px;
    white-space:nowrap;
}
.body.wiki .controller .icon ul li form {
    position:relative;
    margin:0px;
    width:100%;
    height:auto;
    padding:0px;
}
.body.wiki .controller .icon ul li form input[type="text"] {
    position:relative;
    margin:0px -100px 0px 0px;
    width:100%;
    height:auto;
    padding:5px 115px 5px 15px;
    font-size:14px;
    color:#CCC;
    background-color:transparent;
    border:3px solid #333;
}
.body.wiki .controller .icon ul li form input[type="submit"] {
    position:relative;
    margin:0px;
    width:94px;
    height:auto;
    padding:5px 0px;
    font-size:14px;
    color:#CCC;
    background-color:#333;
    border:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.body.wiki .controller .icon ul li form input[type="submit"]:hover {
    cursor:pointer;
    color:#333;
    background-color:#CCC;
}
.body.wiki .viewer {
    position:relative;
    margin:0px auto;
    width:960px;
    height:auto;
    padding:55px 15px 35px 15px;
}
.body.wiki .viewer .header {
    position:relative;
    float:right;
    margin:0px 0px 25px 50px;
    width:auto;
    height:auto;
    padding:0px;
    color:#999;
    text-align:right;
    font-size:.8em;
    letter-spacing:1px;
}
.body.wiki .editor {
    position:relative;
    margin:0px;
    width:100%;
    height:100%;
    padding:35px 0px 0px 0px;
}

/* responsive */
@media screen and (max-width:960px) {
    
    .body.wiki .viewer {
        width:100%;
    }
    
}
@media screen and (max-width:550px) {
    
    .body.wiki .controller .icon ul.address {
        left:-125px;
        min-width:300px;
    }
    .body.wiki .controller .icon ul li form input[type="text"] {
        margin:0px -60px 0px 0px;
        padding:5px 75px 5px 15px;
    }
    .body.wiki .controller .icon ul li form input[type="submit"] {
        width:54px;
    }
    
    .body.auth .content {
        width:100%;
        min-width:320px;
    }
    .body.auth .content .modal {
        margin:25px 0px 0px 0px;
    }
    .body.auth .content .modal .header {
        margin:-15px 0px 10px 0px;
        text-align:center;
    }
    
}
