<ul class="controller">
    <li class="icon entypo-keyboard left" ng-class="{selected:showMarkdown}" ng-click="toggleMarkdown()"></li>
    <li class="icon entypo-eye left" ng-class="{selected:showPreview}" ng-click="togglePreview()"></li>
    <li class="icon entypo-block right" ng-click="cancel()"></li>
    <li class="icon entypo-floppy right" ng-click="save()"></li>
</ul>

<div class="editor">
    <textarea class="markdown" ng-model="markdown" ng-class="{hidden:!showMarkdown, solo:showMarkdown && !showPreview}"></textarea>
    <div class="preview" marked="markdown" ng-class="{hidden:!showPreview, solo:showPreview && !showMarkdown}"></div>
</div>
