<ul class="controller">
    <li class="icon entypo-menu left">
        <ul>
            <li><a href="/">/</a></li>
            <li><a href="/a">/a</a></li>
            <li><a href="/a/b">/a/b</a></li>
            <li><a href="/a/b/c">/a/b/c</a></li>
            <li class="divider"></li>
            <li><a ui-sref="auth.signout">sign out</a></li>
        </ul>
    </li>
    <li class="icon entypo-address">
        <ul class="address"><li>
            <form ng-submit="go()">
                <input type="text" ng-model="path" />
                <input type="submit" value="go" />
            </form>
        </li></ul>
    </li>
    <li class="icon entypo-pencil right" ng-click="edit()"></li>
</ul>

<div class="viewer">
    <div class="header">
        {{path}}<br />
        {{date}}
    </div>
    <h1>Lorem Ipsum Dolor</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae neque non elit congue convallis. Sed laoreet sem non enim facilisis lacinia. Ut ex lectus, rhoncus at nulla quis, euismod hendrerit urna. Nulla diam leo, imperdiet in suscipit eget, tempor ac nunc. Nam nec augue metus. Quisque pulvinar accumsan nibh. Fusce auctor commodo neque vel placerat. Quisque quis nunc finibus, egestas diam at, sodales urna. Fusce augue ex, mollis vitae ligula ac, hendrerit pharetra ligula. Nullam tempus efficitur feugiat. Proin interdum varius massa, vel ultrices nibh. Phasellus fermentum ullamcorper eros, vitae varius arcu accumsan vel. Cras sed ante eget leo posuere maximus ac nec purus.
    </p>
    <p>
        In suscipit eros at ipsum volutpat pretium. Proin at mi orci. In ligula libero, varius ut nunc sit amet, venenatis congue lectus. Morbi faucibus, eros vitae mollis accumsan, turpis elit pretium ante, non vehicula enim lacus eu ipsum. Praesent rutrum ipsum non sodales accumsan. Donec euismod quam sit amet lobortis facilisis. Curabitur urna nisi, tristique at leo eu, faucibus maximus lorem. Vestibulum ultricies, elit in fermentum dictum, urna enim mattis nulla, quis viverra nulla ante a dui. Donec egestas orci sit amet fringilla vehicula. Etiam neque dolor, iaculis at aliquet et, mollis at ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum commodo, enim eget ornare convallis, est turpis ultrices enim, quis pulvinar sem tortor vitae mauris.
    </p>
    <h2>Morbi Sed Tempus</h2>
    <p>
        Morbi sed tempus velit. Sed nibh purus, aliquet vel ultrices vitae, consectetur a mi. Morbi a dictum leo. Cras ac ante nunc. Proin a maximus erat. Aliquam imperdiet lectus eu est blandit pulvinar nec id mi. Phasellus id eros eu urna finibus pretium. Cras at fringilla lectus, in maximus mi. Donec a arcu imperdiet, gravida tortor non, vulputate quam. Curabitur pellentesque purus enim, sit amet placerat dolor mollis vitae. Fusce nulla elit, aliquam sit amet iaculis vel, fringilla non felis. Duis sed fermentum lectus.
    </p>
    <p>
        Vestibulum nibh lacus, iaculis nec dictum non, iaculis in tortor. Ut porta elementum lacinia. In facilisis faucibus lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac quam leo. Nullam ac justo efficitur, malesuada nisl non, lobortis erat. Sed vitae dignissim ex. Etiam rhoncus mauris placerat sapien sagittis, quis porta est auctor. Aliquam scelerisque ultricies turpis vel dignissim. Aliquam risus sapien, consequat commodo erat condimentum, rhoncus faucibus nulla. Mauris blandit rhoncus justo.
    </p>
    <p>
        Mauris nec tellus suscipit, commodo sem vitae, pellentesque mauris. Morbi finibus elit odio, vel hendrerit dui pharetra ac. Quisque tristique, mauris id interdum viverra, arcu est finibus purus, et facilisis nulla lacus sed odio. Donec porta felis at purus feugiat, consectetur tincidunt sem sagittis. Quisque id accumsan nulla. Duis imperdiet risus in mauris sollicitudin pellentesque. Sed eu dictum risus, eu vestibulum est. Donec mattis, tellus vel aliquam pharetra, magna ligula congue tellus, id rhoncus odio nunc eu dolor. Morbi tristique tellus vel tellus vehicula, a congue mauris posuere. Donec semper sed odio ac tincidunt. Nulla quis urna nibh. Maecenas vulputate auctor felis, ut blandit nulla cursus vel. Quisque rutrum nibh sed neque ullamcorper, quis elementum eros hendrerit. Phasellus ornare felis at elit semper finibus eu pretium quam. Aliquam vitae laoreet sem, at viverra diam.
    </p>
</div>
