<div class="modal animated bounceInDown">
    <div class="header">
        sign in
    </div>
    <div class="boder">
        <form ng-submit="signin()">
            <label>
                email address
                <span class="error" ng-if="error.email">{{error.email}}</span>
            </label>
            <input type="text" ng-model="email" ng-class="{'error':error.email}" />
            <label>
                password
                <span class="error" ng-if="error.password">{{error.password}}</span>
            </label>
            <input type="password" ng-model="password" ng-class="{'error':error.password}" />
            <input type="submit" value="sign in" />
        </form>
    </div>
    <ul class="footer horizontal">
        <li><a ui-sref="auth.signup">sign up</a></li>
        <li class="right"><a ui-sref="auth.recover">recover</a></li>
    </ul>
</div>
