<div class="modal animated bounceInDown">
    <div class="header">
        sign up
    </div>
    <div class="boder">
        <form ng-submit="signup()">
            <label>
                username
                <span class="error" ng-if="error.username">{{error.username}}</span>
            </label>
            <input type="text" ng-model="username" ng-class="{'error':error.username}" />
            <label>
                password
                <span class="error" ng-if="error.password1">{{error.password1}}</span>
            </label>
            <input type="password" ng-model="password1" ng-class="{'error':error.password1}"/>
            <label>
                password
                <span class="error" ng-if="error.password2">{{error.password2}}</span>
            </label>
            <input type="password" ng-model="password2" ng-class="{'error':error.password2}" />
            <input type="submit" value="sign up" ng-click="signup()" />
        </form>
    </div>
    <ul class="footer horizontal">
        <li><a ui-sref="auth.recover">recover</a></li>
        <li class="right"><a ui-sref="auth.signin">sign in</a></li>
    </ul>
</div>
